<nav class="navigator">
    <ul class="nav-list">
        <a href="/">Home</li>
        <a href="/users">search users</li>
        <% if(isAuth) { %>
        <a href="/posts">Post</a>
        <% } %>

        <% if(isAuth) { %>
        <a href="/users/profile">Profile</a>
        <% } %>

        <% if(isAuth) { %>
        <a href="/users/logout">Logout</a>
        <% } else { %>
        <a href="/users/login">Login</a>
        <a href="/users/register">register</a>
        <% } %>
    </ul>
</nav>