<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>

<section class="main-content">
    <div class="container">
        <div>
            <form action="/posts/create-post" method="POST">
                <h2>Post Something <%= user  %></h2>
                <label for="title">Title</label><br>
                <input type="text" id="title" name="title" required><br>
                <label for="description">Description</label><br>
                <textarea type="description" id="description" name="description" required></textarea>


                <button type="submit" class="submit-button">Post</button>
            </form>
        </div>
    </div>
</section>