<h2>Search Users</h2>
<form action="/users" method="GET">
    <label>name</label>
    <input type="text" name="username" value="<%= searchOption.username %>">
    <button type="submit">search</button>
</form>
<% users.forEach(user => { %>
    <div><%= user.username %></div>
<%})%>
