<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onyxboard</title>
</head>
<body>
    <h2>Register</h2>
    <form action="/users/new" method="post">
        <%- include('_form_fields') %>
        <br>
        <a href="users">cancle</a>
        <button type="submit">create</button>
    </form>
</body>
</html>