<h2>Register</h2>
    <form action="/users/new" method="post">
        <%- include('_form_fields') %>
        <br>
        <a href="../">cancel</a>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">register</button>
    </form>
